################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TaskExample/v16
/TaskExample/.vs/TaskExample/v16
